<div class="about-me">
  <div class="row pl-3">
    <div class="col-12 col-md-7">
      <h2>Sobre mim</h2>
      <span class="text-simple">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi consectetur nibh quam, ut sodales dui mattis
        vel.
        Nam eget ex egestas, euismod felis vitae, condimentum ligula. Nam semper, velit id venenatis venenatis, mi
        augue venenatis massa.
      </span>
    </div>
    <div class="col-12 col-md-5 pt-5">
      <img src="https://via.placeholder.com/250X350" alt="..." class="img-thumbnail">
    </div>
  </div>
</div>