.container {
    .row {
        h1 {
            font-size: 36px;
            color: #666667;
            font-weight: bold;
        }
        span {
            font-style: italic;
            font-size: 16px;
        }
    }
}